<div class="modal" (click)="onBackdrop($event)">
  <div class="modal-content">
    <span class="close-button" (click)="close()">&times;</span>
    <h2>Perfil de Usuario</h2>
    <div class="profile-details">
      <div class="profile-photo">
        <svg width="50" height="50" viewBox="0 0 24 24" fill="none">
          <circle cx="12" cy="12" r="12" fill="#ccc" />
          <path
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            fill="#666"
          />
        </svg>
      </div>
      <p><strong>Nombre:</strong> <span>{{ userData.name }}</span></p>
      <p><strong>Apellido:</strong> <span>{{ userData.lastName }}</span></p>
      <p><strong>Correo:</strong> <span>{{ userData.email }}</span></p>
      <p><strong>DNI:</strong> <span>{{ userData.dni }}</span></p>

      <p>
        <strong>Nombre de usuario:</strong>
        @if (!editingUsername) {
        <span>{{ userData.username }}</span>
        }
        @if (editingUsername) {
        <input
          type="text"
          [(ngModel)]="newUsername"
          (keydown.enter)="saveUsername()"
          (keydown.escape)="cancelEditUsername()"
          maxlength="25"
        />
        }
        @if (!editingUsername) {
        <button (click)="startEditUsername()" title="Editar nombre de usuario">
          <i class="fas fa-pencil-alt"></i>
        </button>
        }
      </p>

      <p>
        <strong>Alias:</strong>
        @if (!editingAlias) {
        <span>{{ userData.alias }}</span>
        }
        @if (editingAlias) {
        <input
          type="text"
          [(ngModel)]="newAlias"
          (keydown.enter)="saveAlias()"
          (keydown.escape)="cancelEditAlias()"
          maxlength="25"
        />
        }
        @if (!editingAlias) {
        <button (click)="startEditAlias()" title="Editar alias">
          <i class="fas fa-pencil-alt"></i>
        </button>
        }
      </p>

      <p><strong>CVU:</strong> <span>{{ userData.cvu }}</span></p>
    </div>
  </div>
</div>
