<div class="global-footer">
    <span>ArCash™  Virtual Wallet</span>
    <span class="separator">|</span>
    <a href="https://github.com/ValeroTomas" target="_blank" class="autor-link">Tomás Valero</a>
    <span class="separator">|</span>
    <a href="https://github.com/ignacionizetich" target="_blank" class="autor-link">Ignacio Nizetich</a>
    <span class="separator">|</span>
    <a href="https://github.com/#" target="_blank" class="autor-link">Nahuel Fornillo</a>
    <span class="separator">|</span>
    <a href="https://github.com/Arshichak" target="_blank" class="autor-link">Lautaro Arschak</a>
    <span class="separator">|</span>
    <a href="https://github.com/Rufinofg2" target="_blank" class="autor-link">Rufino Figueroa</a>
    
</div>